@charset "UTF-8";

main {
	position: relative;
}

/* 타이틀바 전체 테두리 */
main .debate_room_title_container {
	box-sizing: border-box;
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 8px 16px;
	gap: 8px;
	position: absolute;
	width: 700px;
	height: 56px;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 70px auto;
	padding: 20px auto;
	background: #FFFFFF;
	border: 1px solid #A07C45;
	border-radius: 15px 15px 0px 0px;
}

/* (Other User) */
main .debate_room_title_container .debate_room_title_wrapper {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px;
	gap: 16px;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

/* Texts */
main .debate_room_title_container .debate_room_title_wrapper .debate_room_name
	{
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	width: 80%;
	height: 100%;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

main .debate_room_title_container .debate_room_title_wrapper button {
	display: flex;
	margin-left: auto;
	background-color: rgba(160, 124, 69, 0.45);
	border: 1px solid #4E3B1E;
	border-radius: 30px;
	color: #4E3B1E;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	padding: 0 12px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

/* 채팅방 제목 */
main .debate_room_title_container .debate_room_title_wrapper .debate_room_name h1
	{
	width: 80%;
	height: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 20px;
	/* or 62% */
	display: flex;
	align-items: center;
	/* search text */
	color: #4E3B1E;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

/* 실시간 참여자수 테이블 */
main #debate_user_count_table {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	color: #4E3B1E;
	border-collapse: collapse;
	align-items : center;
}

/* 실시간 참여자수 테이블 */
main #debate_user_count_table td {
	border-top : 1px solid #4E3B1E; 
}

/* 채팅 메세지들 담기는 박스 */
main .debate_room_content_container{
	width: 700px;
	height: 300px;
	background: #FFFFFF;
	border: 1px solid #A07C45;
}

/*이전 채팅 보기 버튼 */
main #loadbtn{
	background-color: inherit;
	border: none;
	outline: none;
	color: #A07C45;
	text-align : center;
	align-items : center;
}
/* 전송 버튼 */
main #sendbtn{
	display: flex;
	margin-left: auto;
	background-color: rgba(160, 124, 69, 0.45);
	border: 1px solid #4E3B1E;
	border-radius: 30px;
	color: #4E3B1E;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	padding: 0 12px;
	line-height: 24px;
	text-align: center;
	touch-action: manipulation;
}

/* 전송할 메세지를 적는 창 */
main #send_message{
	width :600px;
	background-color: rgba(216, 203, 184, 1);
	font-family: 'Inter';
	font-style: normal;
	color: #4E3B1E;
}

/* 채팅방의 각각의 메세지들 */
/* 각각의 메세지들인데 id나 채팅내용 수정하시려면 debateroom.jsp에 179번쨰줄 */
main div{
	
	border : 1px solid rgba(216, 203, 184, 1);
}

/* 내가보낸 메세지 */
main div[isMine$=true]{
	width : 400px;
}

/* 남이보낸 메세지 */
main div[isMine$=false]{
	width : 500px;
}


