@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	font-weight: 550;
}
#sendbtn {
	all: unset;
}
main {
	position: relative;
}
main .total-container {
	height: 1000px;
	width: 918px;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

/* 타이틀바 전체 테두리 */
main .total-container .title_container {
/*	box-sizing: border-box;
	 Auto layout 
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 8px 16px;
	gap: 8px;
	position: absolute;
	width: 700px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 20px auto;
	background: #FFFFFF;
	border: 1px solid #A07C45;
*/
	border: 1px solid #A07C45;
	width: 700px;
	border-radius: 15px 15px 0px 0px;
}

/* (Other User) */
main .title_container .title_wrapper {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px;
	gap: 16px;
	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	height: 70px;
}

/* Texts */
main .title_container .title_wrapper .room_name {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}
/* 채팅방 제목 */
main .title_container .title_wrapper .room_name p {
	font-size: 40px;
	line-height: 20px;
	/* or 62% */
	display: flex;
	align-items: center;
	/* search text */
	color: #4E3B1E;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-left: 10px;
	font-weight: 600;
}

main .title_container .title_wrapper button {
	height: 40px;
	display: flex;
	margin-left: auto;
	background-color: rgba(160, 124, 69, 0.45);
	border-radius: 5px;
	color: #4E3B1E;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	align-items: center;
	user-select: none;
	font-weight: 550;
	-webkit-user-select: none;
	touch-action: manipulation;
	border: 1px solid #4E3B1E;
	margin-right: 10px;
}

main .total-container .send_opinion {
	display: flex;
	width: 700px;
	flex-direction: row;
	
}
/* 전송할 메세지를 적는 창 */
main .total-container  #send_message{
	width: 630px;
	height: 60px;
	color: #333;
	font-size: 22px;
	padding-left: 20px;
}
/* 전송 버튼 */
main .total-container #sendbtn{
	border-radius: 5px;
	color: #4E3B1E;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	width: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	touch-action: manipulation;
	margin-right: 10px;
}
main .count_wrapper {
	width: 700px;
}
main .content_container {
	width: 700px;
	height: 800px;
	background-color: bisque;
}



#count_table tr{
	display: flex;
	flex-direction: column;
	
}
#count_table tr td {
	width: 150px;
	text-align: start;
}

/* 실시간 참여자수 테이블 */
main #debate_user_count_table {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	color: #4E3B1E;
	border-collapse: collapse;
	align-items : center;
}

/* 실시간 참여자수 테이블 */
main #debate_user_count_table td {
	border-top : 1px solid #4E3B1E; 
}

/* 채팅 메세지들 담기는 박스 */
main .debate_room_content_container{
	width: 700px;
	height: 300px;
	background: #FFFFFF;
	border: 1px solid #A07C45;
}

/*이전 채팅 보기 버튼 */
main #loadbtn{
	background-color: inherit;
	border: none;
	outline: none;
	color: #A07C45;
	text-align : center;
	align-items : center;
}



/* 채팅방의 각각의 메세지들 */
/* 각각의 메세지들인데 id나 채팅내용 수정하시려면 debateroom.jsp에 179번쨰줄 */
main div{
	
	border : 1px solid rgba(216, 203, 184, 1);
}

/* 내가보낸 메세지 */
main div[isMine$=true]{
	width : 400px;
}

/* 남이보낸 메세지 */
main div[isMine$=false]{
	width : 500px;
}


