@charset "UTF-8";
/*body {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;

}*/

/*input {
	all: unset;
}
*/
p {
	word-wrap: break-word;
}
a {
	text-decoration: none;
	color: #303038;
}
a:visted {
	color: #485563;	
}
.button {
	cursor: pointer;
	transition: .4s;
}

/*MAIN*/

main {
	position: relative;
}

main .news-cover {
	width: 1019px;
	left: 50%;
	transform: translate(-50%, 0);
	background: rgba(160, 124, 69, 0.1);
	margin: 70px auto;
	padding: 20px auto;
	position: absolute;
	border-radius: 5px;

}

main .news-cover .news-content {
	width: 100%;

	/*justify-content: flex-end;*/
	/*	justify-content: center;
	align-items: center;
	display: flex;*/
}

main .news-cover .news-content .cover {
	width: 100%;
	display: flex;
	flex-direction: column;
	/*	justify-content: center;
	align-items: center;
*/

}

main .news-cover .news-content .cover>div {
	margin: 20px 0;
}

main .news-cover .news-content .cover .main-title {
	/*	position: absolute;
	height: 70px;
	width: 100%;
	
	padding: 20px 0;
	display: flex;
	align-items: start;*/
	margin-bottom: 0px;

}

main .news-cover .news-content .cover .main-title p {

	font-size: 40px;
	font-family: Arial;
	font-weight: 900;
	z-index: 3;
	margin: 0 20px;
}



main .news-cover .news-content .cover .tab-content {
	width: 100%;
	/*	width: 100%;

	flex-direction: column;
	justify-content: flex-end;
*/
	/*	position: relative;*/
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-family: 'Malgun Gothic', sans-serif;
}

main .news-cover .news-content .tab-content .content {

	/*	
	height: 800px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 10px auto;
	position: relative;*/
	display: flex;
	width: 975px;
	height: 180px;
	background-color: rgba(203, 183, 153, 0.55);
	border-radius: 5px;
	align-content: center;
	justify-content: center;
	margin: 10px auto;
	position: relative;
}

main .news-cover .news-content .tab-content .content>div {}

main .news-cover .news-content .tab-content .content:hover {
	width: 1000px;
	height: 200px;
	transition: .2;
}

main .news-cover .news-content .tab-content .content:nth-last-child(1) {
	margin-bottom: 20px;
}

main .news-cover .news-content .tab-content .content .img-cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
	cursor: pointer;
}


main .news-cover .news-content .tab-content .content img {
	width: 150px;
	height: 149px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*overflow: hidden;*/
	object-fit: scale-down;
}

main .news-cover .news-content .tab-content .content:hover img {
	width: 160px;
	height: 159px;
	transition: .2s;
}

main .news-cover .news-content .tab-content .content .a {
	width: 795px;
	margin: 0 auto;
	position: relative;
	flex-direction: column;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

main .news-cover .news-content .tab-content .content .a div {
	margin: 5px 0;

}

main .news-cover .news-content .tab-content .content .a .date {
	font-size: 13px;
}

main .news-cover .news-content .tab-content .content .a .main {
	font-size: 23px;
	font-weight: 900;
}

main .news-cover .news-content .tab-content .content .a .cont {
	font-size: 20px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all
}

main .news-cover .news-content .tab-content .content .bookmark-cover {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

main .news-cover .news-content .tab-content .content .bookmark-cover i {
	cursor: pointer;
	margin: 10px 10px;
	font-size: 30px;
	color: rgba(164, 172, 134, 0.81);
}


main .news-cover .news-content .tab-content .content .bookmark-cover i.checked {
	color: #656d4a;
}

main .news-cover .news-content .paging {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
main .news-cover .news-content .main-title {
	font-size: 40px;
	font-family: Arial;
	font-weight: 900;
	top: 25px;
	left: 20px;
	z-index: 3;
}


main .news-cover .news-content .content .bookmark-cover {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

main .news-cover .news-content .content .bookmark-cover i {
	cursor: pointer;
	margin: 10px 10px;
	font-size: 30px;
	color: rgba(164, 172, 134, 0.81);
}


main .news-cover .news-content .content .bookmark-cover i.checked {
	color: #656d4a;
}

main .news-cover .news-content .content:hover {
	width: 1000px;
	height: 180px;
	transition: .2s;
}

main .news-cover .news-content .content:nth-last-child(1) {
	margin-bottom: 50px;
}

main .news-cover .news-content .content .a {
	width: 795px;
	height: 100%;
	margin: 0 auto;
	align-items: flex-start; 
	flex-direction: column;
	position: relative; 
	position: relative;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

main .news-cover .news-content .content .a div {
	margin: 5px 0;
}

main .news-cover .news-content .content .a .date {
	color: #5A6372;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	word-wrap: break-word;
}

main .news-cover .news-content .content .a .date::before {
	content: "Posted July 11, 2017";
}

main .news-cover .news-content .content .a .main {
	font-size: 23px;
	height: 45px;
	font-weight: 900;
	word-wrap: break-word;
}

main .news-cover .news-content .content .a .main::before {
	content: '"연봉 1억원, 이런 밥상이 삼시세끼 공짜" 난리난 이 회사, 어디길래?';
}

main .news-cover .news-content .content .a .cont {
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	word-wrap: break-word;
}

main .news-cover .news-content .content .a .cont::before {
	content: "매끼 1만5000원의 식사가 ‘공짜’다. 맥주도 마음껏 마실 수 있다. "
		"또 PC방도 편하게 즐길 수 있다. 이는 문화·외식시설이 아닌 한 게임사의 직원 지원 제도들이다. "
		"전세계 흥행에 성공한 FPS 게임 ‘배틀그라운드’를 내놓은 ‘크래프톤’의 얘기다. "
		"최근 크래프톤은 국내외에서 눈에 띄는 매출 성장을 이뤄내며 직원 지원을 아끼지 않고 있다.";
}

main .news-cover .news-content .content img {
	width: 150px;
	height: 149px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
}

main .news-cover .news-content .content img::before {
	content: url("/images/article_picture1.png");
}

main .news-cover .news-content #tab-1-keyword #img-1:before {
	content: url("/images/font1.png");
}

main .news-cover .news-content #tab-2-keyword #img-1:before {
	content: url("/images/font2.jpg");
}

main .news-cover .news-content #tab-3-keyword #img-1:before {
	content: url("/images/font6.jpg");
}

main .news-cover .news-content #tab-1-category #img-1:before {
	content: url("/images/font4.jpg");
}

main .news-cover .news-content #tab-2-category #img-1:before {
	content: url("/images/font5.png");
}

main .news-cover .news-content #tab-3-category #img-1:before {
	content: url("/images/font6.jpg");
}

main .news-cover .news-content #tab-4-category #img-1:before {
	content: url("/images/font7.jpg");
}

main .news-cover .news-content #tab-5-category #img-1:before {
	content: url("/images/inNUCE_logo.png");
}

main .news-cover .news-content #tab-6-category #img-1:before {
	content: url("/images/font2.jpg");
}


main .news-cover .news-content .paging {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
}

*/