@charset "UTF-8";

.user_info_input{
  width: 453px;
  height: 14px;
  background: rgba(160,123,68,0.10999999940395355);
  padding: 10px 10px;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.mypage_input, .login_input{
  width: 453px;
  height: 14px;
  background: rgba(160,123,68,0.10999999940395355);
  padding: 10px 10px;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.mypage_button, #submit, #loginButton, #changeButton, #deleteButton, #restore_button,
#idpw_search_button, #id_find_button, #pw_find_button,#back_button, #address_search_button,
.admin_button
{
	border: 1px #4E3B1E solid;
	border-radius: 15px;
	height: 36px;
	box-sizing: border-box;
	margin: 12px;
	background: rgba(216, 203, 184, 1);
}

#myPage_navigater{
	width :200px;
	height: 700px;
	display: inline-block;
	vertical-align: middle;
}

#myPage_navigater> button{
	width:200px;
	height : 50px;
	background:  rgba(160,123,68,0.10999999940395355);
  	border:none;
}
#myPage_navigater> button:hover{
	width:200px;
	height : 50px;
	background:  rgba(216, 203, 184, 1);;
  	border:none;
}
#myPage_navigater> button[clicked="yes"]{
	width:200px;
	height : 50px;
	background:  rgba(216, 203, 184, 1);;
  	border:none;
  	font-weight : bold;
}


#myPage_main, #adminPage_main{
	display: inline-block;
	vertical-align: middle;
	align-items: center;
	width : 70%;
	height: 700px;
}

#a_tags_box{
	text-align :center;
}
#search_board_box{
	text-align :center;
}

#id_search_table{
  border-collapse: collapse;
  width: 500px;
  margin: 1rem auto;
  background-color: white;
  border : 1px solid black;
}

/* 테이블 행 */
#id_search_table th,#id_search_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color:  rgba(216, 203, 184, 1);
  color: rgba(0, 0, 0, 1);
}

/* 테이블 올렸을 때 */
tbody tr:hover {
  background-color:  rgba(216, 203, 184, 1);
  opacity: 0.9;
  cursor: pointer;
}


/* 로그인.jsp */
#login_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
} 

/* idfind.jsp */
#id_find_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;

}
/*  idfindresult.jsp */
#idfindresult_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
}
/* idpwfind.jsp */
#find_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
	text-align: center;
}
/* pwfind.jsp */
#pw_find_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
}
/* idfind/ idfindresult/ idpwfind / pwfind .jsp */
#id_find_box, #idfindresult_box, #pw_find_box, #find_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
}
/* registermember.jsp */
#register_box{
	width: 1119px;
	background-color: rgba(160, 124, 69, 0.1);
	left: 50%;
	position: absolute;
	padding: 80px auto;
	transform: translate(-50%, 0);
	border-radius: 20px;
	margin: 100px auto;
  
}

#register_box #birthday{
	background-color: rgba(160,123,68,0.10999999940395355);
	padding: 3px 3px;
 	margin: 5px;
 	position: relative;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
 	border-bottom-left-radius: 10px;
 	border-bottom-right-radius: 10px;
}

#register_box #gender{
	background-color: rgba(160,123,68,0.10999999940395355);
	padding: 3px 3px;
 	margin: 5px;
 	position: relative;
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
 	border-bottom-left-radius: 10px;
 	border-bottom-right-radius: 10px;
}
